:root {
  --main-front: "Roboto", sans-serif;
  --secondary-front: "Raleway", sans-serif;
  --body-text-color: #000;
  --primary-text-color: #212121;
  --secondary-text-color: #2196f3;
  --accent-text-color: #188CE8;
  --color-text-team-nav-main: #757575;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.body-front-family {
  font-family: var(--main-front);
  color: var(--primary-text-color);
}

.web-blue {
  color: var(--secondary-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .footer .container {
    width: 100%;
  }
  .partners .container {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.navigation-img-logo {
  font-family: var(--secondary-front);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .navigation-img-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primaru-text-color);
}

.button-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  min-width: 80px;
  border: transparent;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:focus, .button-style:hover {
  color: #f5f4fa;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.social-icon-border {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item:focus .social-icon-border,
.social-links__item:hover .social-icon-border {
  background-color: var(--secondary-text-color);
}

.footer-social__links:focus .social-icon-border,
.footer-social__links:hover .social-icon-border {
  background-color: var(--secondary-text-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item:focus .social-links__icon,
.social-links__item:hover .social-links__icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-button-close {
  top: 8px;
  right: 8px;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-button-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.close-button-wrap:hover, .close-button-wrap:focus {
  fill: var(--secondary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form-text-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-text-team-nav-main);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-imput-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-from-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-from-icon {
  fill: var(--secondary-text-color);
  cursor: pointer;
}

.form-check-desc {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-text-span {
  display: flex;
  align-items: center;
  color: var(--color-text-team-nav-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.modal-text-span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.contacts-form-box:checked + .modal-text-span::before {
  background-image: url(../images/vectorh.svg);
  background-color: var(--secondary-text-color);
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  border: 0px solid #fff;
  border-radius: 2px;
}

.text-span {
  color: var(--secondary-text-color);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 2px;
}

.footer-email-window {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-wraper-text {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: center;
}

.modal-form-btn:hover {
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.contacts-form-footer {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: 250ms;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.modal-text {
  color: var(--color-text-team-nav-main);
  width: 100%;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.footer-signup-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-footer {
  justify-content: center;
  width: 200px;
  font-weight: 700;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  margin-left: auto;
}

.button-footer:hover {
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.footer-wraper-icon-button {
  fill: #fff;
  width: 24px;
  height: 24px;
  display: inline-flex;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .modal {
    height: auto;
    width: 100vw;
    max-width: 450px;
  }
  .modal-text-span {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .text-span {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 480px) {
  .button-close {
    top: 8 px;
  }
  .button-footer {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .button-footer {
    display: block;
    margin: 0 auto;
  }
}

/* ===== MOBILE ===== */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .container {
  display: flex;
}

.navigation__list {
  display: none;
}

.nav__mail-phone {
  display: none;
}

.button__burger,
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__close-icon:hover {
  fill: var(--secondary-text-color);
}

.button__burger-icon {
  width: 40px;
  height: 40px;
  fill: var(--body-text-color);
}

.button__burger-icon:hover {
  fill: var(--secondary-text-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: white;
  padding: 48px 40px;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__active-page-link {
  color: var(--secondary-text-color);
}

.mobile-menu-contact__list {
  margin-top: 302px;
}

.mobile-menu-contact__item {
  margin-bottom: 32px;
}

.mobile-menu-contact__phone {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu-contact__email {
  color: var(--color-text-team-nav-main);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu-social__list {
  display: flex;
}

.mobile-menu-social__item {
  margin-right: 20px;
}

.mobile-menu-social__links {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media (max-width: 767px) {
  .navigation__item {
    display: none;
  }
  .nav__list-item {
    display: none;
  }
  .nav__mail-phone {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .button__burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation__list {
    display: block;
  }
  .header-botder {
    border: #ececec 1px solid;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    margin: 0 auto;
  }
  .nav__mail-phone {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__list .navigation__item {
  position: relative;
}

.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color-text-team-nav-main);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}

.nav__link:focus, .nav__link:hover {
  color: var(--secondary-text-color);
}

.text-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__mail {
  padding-bottom: 10px;
}

.navigation__icons-phone {
  width: 10px;
  height: 16px;
  fill: var(--color-text-team-nav-main);
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus .navigation__icons-phone,
.nav__link:hover .navigation__icons-phone {
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.navigation__icons-mails {
  width: 16px;
  height: 12px;
  fill: var(--color-text-team-nav-main);
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus .navigation__icons-mails,
.nav__link:hover .navigation__icons-mails {
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.active-page-link {
  color: var(--secondary-text-color);
}

.active-page-link::after {
  content: "";
  position: absolute;
  display: block;
  top: 46px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0 auto;
    max-width: 100%;
  }
  .navigation__icons-mails {
    margin-right: 10px;
  }
  .navigation__icons-phone {
    margin-right: 10px;
  }
  .nav__mail-phone {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }
  .nav__link {
    margin-right: auto;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.hero-section__text-center {
  text-align: center;
  max-width: 740px;
}

.hero-section {
  background-color: #2f303a;
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero.jpg");
  background-repeat: no-repeat;
}

.hero-section .container {
  display: block;
}

.hero-section__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--secondary-text-color);
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover, .hero-section__button:focus {
  background-color: var(--accent-text-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero@2.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero-section .container {
    padding: 118px 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }
  .hero-section .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-section {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero.jpg");
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero@2x.jpg");
  }
}

.main-section__icon {
  width: 70px;
  height: 70px;
}

.main-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-section__item {
  margin-bottom: 30px;
}

.main-section__box-icons {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.main-section__text-bold {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-align: center;
}

.main-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text-team-nav-main);
}

@media screen and (min-width: 768px) {
  .main-section .container {
    width: 768px;
  }
  .main-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
  .main-section__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
  }
  .main-section__text-bold {
    text-align: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .main-section .container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 0;
  }
  .main-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .main-section__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .main-section__item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .main-section__text-bold {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .about-section {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .picture__item .about-section__image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .about-section__image .social-section {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-section {
    display: block;
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .about-section__image {
    position: relative;
  }
  .about-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .about-section__application {
    width: 100%;
    height: 70px;
    padding-top: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    background: rgba(47, 48, 58, 0.8);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .about-section__item {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.container .social-section {
  display: flex;
}

.social-section .container {
  display: block;
}

.social-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F5F4FA;
}

.social-section__team {
  margin-bottom: 30px;
  background: var(--color-text-white);
}

.social-box__cards {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  height: 168px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-box__cards-profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-team-nav-main);
}

.social-box__cards-text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
}

.social-network__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-network__theme {
  margin-top: 16px;
}

.social-links__list:not(:last-child) {
  margin-right: 10px;
}

.social-links__item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .social-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    align-items: center;
    justify-content: center;
  }
  .social-section__team {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .social-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    align-items: center;
    justify-content: center;
  }
  .social-section__team {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .social-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .social-section__team {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
  .photo__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.partners {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.partner__logo {
  width: 44px;
  height: 49px;
}

.partners__items {
  margin-left: 30px;
  margin-top: 30px;
}

.partners__thumb {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover .partner__logo,
.partners__link:focus .partner__logo {
  fill: var(--secondary-text-color);
}

.partners__link:hover .partners__thumb,
.partners__link:focus .partners__thumb {
  border: 1px solid var(--secondary-text-color);
}

.partners .container {
  display: block;
}

@media screen and (min-width: 480px) {
  .partners__item {
    flex-basis: calc(100% / 2 - 30px);
  }
  .partners__link {
    width: 220px;
  }
}

@media screen and (min-width: 768px) {
  .partners__item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .partners__link {
    width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .partners__link {
    width: 170px;
  }
  .partners__list {
    flex-wrap: nowrap;
  }
  .partners__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: block;
  align-items: baseline;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 8px;
}

.address__margin {
  margin-top: 8px;
  margin-bottom: 8px;
}

.address__tel-mail {
  color: #ffffff99;
}

.footer__wraper {
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
}

.footer__text {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* icon */
.footer-social__links {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__text {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__button {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background: var(--secondary-text-color);
}

.footer__address {
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
}

.footer__social {
  padding-bottom: 60px;
}

.subscription__email {
  padding-left: 16px;
  color: var(--color-text-white);
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.subscription-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .subscription__email {
    display: block;
    width: 450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    max-width: 1600px;
  }
  .footer__box-contact {
    text-align: inherit;
    padding-bottom: 0px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer__social {
    display: block;
    padding-bottom: 0px;
    margin-left: 70px;
  }
  .footer__social-title {
    text-align: inherit;
  }
  .subscription__text {
    text-align: inherit;
  }
  .footer-window {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .subscription__button {
    margin-left: 12px;
  }
  .subscription__email {
    width: 358px;
    margin-bottom: 0px;
  }
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
}

.portfolio-hero:not(:last-child) {
  margin-right: 8px;
  align-items: center;
}

.portfolio-padding {
  padding: 20px 23px 19px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text-team-nav-main);
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: -30px;
  margin-right: -30px;
}

.portfolio-photos {
  margin-top: 30px;
  margin-right: 30px;
}

.portfolio-photos-shadows:hover, .portfolio-photos-shadows:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-img-overley {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px;
  /* overflow: scroll; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */