:root {
  --main-front: "Roboto", sans-serif;
  --secondary-front: "Raleway", sans-serif;
  --body-text-color: #000;
  --primary-text-color: #212121;
  --secondary-text-color: #2196f3;
  --accent-text-color: #188CE8;
  --color-text-team-nav-main: #757575;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.body-front-family {
  font-family: var(--main-front);
  color: var(--primary-text-color);
}

.web-blue {
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.footer .container {
  display: flex;
}

.navigation-img-logo {
  font-family: var(--secondary-front);
  font-weight: 700;
  font-size: 26px;
  color: var(--body-text-color);
  margin-right: 93px;
}

.text-center {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.button-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  min-width: 80px;
  border: transparent;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:focus, .button-style:hover {
  color: #f5f4fa;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.social-icon-border {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:focus .social-icon-border,
.social-links:hover .social-icon-border {
  background-color: var(--secondary-text-color);
}

.footer-social-links:focus .social-icon-border,
.footer-social-links:hover .social-icon-border {
  background-color: var(--secondary-text-color);
}

.social-links-item {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:focus .social-links-item,
.social-links:hover .social-links-item {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-button-close {
  top: 8px;
  right: 8px;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-button-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.close-button-wrap:hover, .close-button-wrap:focus {
  fill: var(--secondary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form-text-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-text-team-nav-main);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-imput-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-from-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-from-icon {
  fill: var(--secondary-text-color);
  cursor: pointer;
}

.form-check-desc {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-text-span {
  display: flex;
  align-items: center;
  color: var(--color-text-team-nav-main);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.modal-text-span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.contacts-form-box:checked + .modal-text-span::before {
  background-image: url(../images/vectorh.svg);
  background-color: var(--secondary-text-color);
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  border: 0px solid #fff;
  border-radius: 2px;
}

.text-span {
  color: var(--secondary-text-color);
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 2px;
}

.footer-wraper-text {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: center;
}

.modal-form-btn:hover {
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.contacts-form-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  transition: 250ms;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.modal-text {
  color: var(--color-text-team-nav-main);
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.footer-signup-form {
  align-items: center;
  justify-content: center;
}

.footer-email-window {
  margin-left: 23px;
}

.button-footer {
  justify-content: center;
  width: 200px;
  font-weight: 700;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
}

.button-footer:hover {
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.footer-wraper-icon-button {
  fill: #fff;
  width: 24px;
  height: 24px;
  display: inline-flex;
  margin-left: 10px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-botder {
  border: #ececec 1px solid;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list .navigation-item {
  position: relative;
}

.text-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-tel-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-team-nav-main);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mail-phone {
  display: flex;
  margin-left: auto;
}

.nav-link:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}

.nav-link:focus, .nav-link:hover {
  color: var(--secondary-text-color);
}

.nav-list-item:not(:last-child) {
  margin-right: 30px;
}

.social-icons-phone {
  width: 10px;
  height: 16px;
  fill: var(--color-text-team-nav-main);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus .social-icons-phone,
.nav-link:hover .social-icons-phone {
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.social-icons-mails {
  width: 16px;
  height: 12px;
  fill: var(--color-text-team-nav-main);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus .social-icons-mails,
.nav-link:hover .social-icons-mails {
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.active-page-link {
  color: var(--secondary-text-color);
}

.active-page-link::after {
  content: "";
  position: absolute;
  display: block;
  top: 46px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-text-color);
}

.text-button-center {
  text-align: center;
}

.section-hero {
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-background {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-work.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.text-button {
  margin-top: 30px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  background-color: var(--secondary-text-color);
  padding: 10px 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-button:hover, .text-button:focus {
  background-color: var(--accent-text-color);
}

.section-main {
  padding-top: 89px;
  padding-bottom: 94px;
}

.main-list {
  display: flex;
  align-items: center;
}

.main-list-text:not(:last-child) {
  margin-right: 30px;
}

.text-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.text-main-normal {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-team-nav-main);
}

.main-svg-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* icon */
.icon-main-w-h {
  width: 70px;
  height: 70px;
}

.section-image {
  padding-bottom: 94px;
}

.section-image .team-img-margin-photo {
  position: relative;
}

.team-img {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.team-img-margin-photo {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.image-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-social {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.text-center-team {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.center-team-profession {
  text-align: center;
  font-size: 16px;
  color: var(--color-text-team-nav-main);
}

.social-team-img-margin {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.social-team-list {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}

.social-img-margin-master {
  width: 270px;
  border-radius: 4px;
  background-color: #fffbfb;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-team-card {
  padding: 30px 32px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-theme {
  margin-top: 16px;
}

.social-links-list:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
}

.partners-list {
  display: flex;
  justify-content: space-between;
}

.partners-thumb {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:hover .partner-logo,
.partners-link:focus .partner-logo {
  fill: var(--secondary-text-color);
}

.partners-link:hover .partners-thumb,
.partners-link:focus .partners-thumb {
  border: 1px solid var(--secondary-text-color);
}

.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-img-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-tel-mail {
  color: #ffffff99;
  margin-top: 9px;
}

.footer-tel-mail-margin {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-wraper {
  box-sizing: inherit;
}

.footer-wraper:not(:last-child) {
  margin-right: 70px;
}

.footer-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* icon */
.footer-social-links {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
}

.portfolio-hero:not(:last-child) {
  margin-right: 8px;
  align-items: center;
}

.portfolio-padding {
  padding: 20px 23px 19px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text-team-nav-main);
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: -30px;
  margin-right: -30px;
}

.portfolio-photos {
  margin-top: 30px;
  margin-right: 30px;
}

.portfolio-photos-shadows:hover, .portfolio-photos-shadows:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-img-overley {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px;
  /* overflow: scroll; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */