.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-img-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-tel-mail {
  color: #ffffff99;
  margin-top: 9px;
}

.footer-tel-mail-margin {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-wraper {
  box-sizing: inherit;
  &:not(:last-child) {
    margin-right: 70px;
  }
}

.footer-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* icon */
.footer-social-links {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}