.text-button-center {
    text-align: center;
  }
  .section-hero {
    background-color: #2f303a;
    max-width: 1600px;
    margin: 0 auto;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .hero-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Img-work.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .hero-text {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  
  .text-button {
    margin-top: 30px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    background-color: var(--secondary-text-color);
    padding: 10px 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-text-color);
    }
  }
  
 