.navigation-img-logo {
    font-family: var(--secondary-front);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--body-text-color);
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    .navigation-img-logo {
      font-size: 26px;
      line-height: 1.19;
    }
  }