:root {
  --main-front: "Roboto", sans-serif;
  --secondary-front: "Raleway", sans-serif;
  --body-text-color: #000;
  --primary-text-color: #212121;
  --secondary-text-color: #2196f3;
  --accent-text-color: #188CE8;
  --color-text-team-nav-main: #757575;

}